.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: white;
}

h1 {
  margin: 30px;
  font-size: 8rem;
  color:black;
}

p {
  font-size: 3rem;
  color: black;
  }

img {
  width: 80%;
}
